.bannerContainer {
  height: 448px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  background-position: center center;
}
.bannerContent {
  padding: 50px;
  width: 400px;
}

.btn {
  background-color: rgba(61, 61, 61, 0.8);
  border: none;
  color: white;
  width: 120px;

  padding: 5px 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(61, 61, 61, 0.5);
}
.bannerFade {
  height: 120px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
